<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <link rel="stylesheet" href="/static/jquery-ui.1.8.20.css" type="text/css" media="all" />
</head>
<body>
<form action="" method="GET">
    <div id="state-area">
        <label for="state">State:</label>
        <select id="state">
            {% for elem in states %}
                <option value="{{ elem.state }}">{{ elem.NAME }}</option>
            {% endfor %}
        </select>
        <button class="get_data">Get Data</button>
    </div>

    <div id="county-area">
        <label for="county">County:</label>
        <select id="county">
            {% for state_name, state_counties in counties.items %}
                <optgroup label="{{ state_name }}">
                {% for county in state_counties %}
                    <option value="{{ county.state }},{{ county.county }}">{{ county.NAME }}, {{ county.STATE_ABBREVIATION }}</option>
                {% endfor %}
                </optgroup>
            {% endfor %}
        </select>
        <button  class="get_data">Get Data</button>
    </div>

    <div id="msa-area">
        <label for="msa">MSA:</label>
        <select id="msa">
            {% for state_name, state_msas in msas.items %}
                <optgroup label="{{ state_name }}">
                {% for msa in state_msas %}
                    <option value="{{ msa.state }},{{ msa.msa_code }},">{{ msa.NAME }}, {{ msa.STATE_ABBREVIATION }}</option>
                {% endfor %}
            {% endfor %}
        </select>
        <button  class="get_data">Get Data</button>
    </div>



    <div id="table-area"></div>
    <div id="vacancy-plot-area"></div>
    <div id="tenure-plot-area"></div>
    <div id="race-plot-area"></div>

    </div>
</form>

<script type="text/template" id="template-table">
    <h4>Statistics for <%= area %></h4>
    <div id="tabs">
        <ul>
        <%  var i=1;
            for (var stat_name in stat_data) {
                var stat_name_formatted = stat_name.replace(/\s*\[\d+\]/g, "").toUpperCase();
            %>
            <li><a href="#tab<%= i %>"><%= stat_name_formatted %></a></li>
        <%  i++;
            } %>
        </ul>
        <%  i=1;
            for (var stat_name in stat_data) { %>
            <div id="tab<%= i %>">
            <table>
                <tbody>
                    <% _.each(stat_data[stat_name], function(elem) {
                        var formatted_key = elem[1].replace(/!!/g, "");
                        var formatted_value = addCommas(elem[2]);
                    %>
                    <tr>
                        <td><%= formatted_key %></td>
                        <td><%= formatted_value %></td>
                    </tr>
                    <% }); %>
                </tbody>
            </table>
            </div>
        <%  i++;
            } %>
    </div>
</script>



<script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/underscore.js"></script>
<script type="text/javascript" src="/static/jquery-ui-1.8.20.min.js"></script>
<script type="text/javascript" src="/static/census.js"></script>
<script src="/static/highcharts.js"></script>
</body>
</html>