<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
</head>
<body>
<form action="" method="GET">
    <div id="state-area">
        <label for="state">State:</label>
        <select id="state">
            {% for elem in states %}
                <option value="{{ elem.state }}">{{ elem.NAME }}</option>
            {% endfor %}
        </select>
        <button class="get_data">Get Data</button>
    </div>

    <div id="county-area">
        <label for="county">County:</label>
        <select id="county">
            {% for county in counties %}
                <option value="{{ county.state }},{{ county.county }}">{{ county.STATE_NAME }}, {{ county.NAME }}</option>
            {% endfor %}
        </select>
        <button  class="get_data">Get Data</button>
    </div>

    <div id="msa-area">
        <label for="msa">MSA:</label>
        <select id="msa">
            {% for msa in msas %}
                <option value="{{ msa.state }},{{ msa.msa_code }},">{{ msa.STATE_NAME }}, {{ msa.NAME }}</option>
            {% endfor %}
        </select>
        <button  class="get_data">Get Data</button>
    </div>



    <div id="table-area"></div>

    </div>
</form>

<script type="text/template" id="template-table">
    <h4>Statistics for <%= area %></h4>
    <% for (var stat_name in stat_data) { %>
        <h5><%= stat_name %></h5>
        <table>
            <tbody>
                <% _.each(stat_data[stat_name], function(elem) { %>
                <tr>
                    <td><%= elem[1] %></td>
                    <td><%= elem[2] %></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <br/>
    <% } %>
</script>



<script type="text/javascript" src="/static/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="/static/underscore.js"></script>
<script type="text/javascript" src="/static/census.js"></script>
</body>
</html>