<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title></title>
    <link rel="stylesheet" href="/static/jquery-ui.1.8.20.css" type="text/css" media="all" />
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">
        function generatePieChart(renderToElement, title, chartName, chartData){
            return new Highcharts.Chart({
                chart: {
                    renderTo: renderToElement,
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: title
                },
                tooltip: {
                    formatter: function() {
                        return '<b>'+ this.point.name +'</b>: '+ this.y;
                    }
                },
                plotOptions: {
                    pie: {
                        animation: false,
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            color: '#000000',
                            connectorColor: '#000000',
                            formatter: function() {
                                return '<b>'+ this.point.name +'</b>: '+ this.y;
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: chartName,
                    data: chartData
                }]
            });
        }
    </script>
</head>
<body>
    {% load extras %}
    <h3>Statistics report for {{ state }}</h3>
    {% for stat_name in STATISTICS_OF_INTEREST%}
        {% get_context_value stat_name.1 as stat_value %}
        <h6>{{ stat_name.1|clean_stat_name }}</h6>
        <table>
            {% for row in stat_value %}
            <tr>
                <td>{{ row.1|cut:"!" }}</td><td>{{ row.2|add_commas }}</td>
            </tr>
            {% endfor %}
        </table>
        <div id='{{ stat_name.1|clean_stat_name|cut:" "|lower }}-chart'></div>
        <br/>
    {% endfor %}
    <!--
    <script type="text/javascript">
        var sourceData;
        var chartData;
        {% get_context_value "RACE [8]" as stat_value %}
        sourceData = {{ stat_value|safe }};
        chartData = [];
        sourceData.forEach(function(value, index){
            if (index != 0 ) chartData.push([value[1], parseFloat(value[2])]);
        });
        generatePieChart("race-chart", "Race pie chart", "Race", chartData);

        {% get_context_value "VACANCY STATUS [8]" as stat_value %}
        sourceData = {{ stat_value|safe }};
        chartData = [];
        sourceData.forEach(function(value, index){
            if (index != 0 ) chartData.push([value[1], parseFloat(value[2])]);
        });
        generatePieChart("vacancystatus-chart", "Vacancy status pie chart", "Vacancy status", chartData);

        {% get_context_value "TENURE [4]" as stat_value %}
        sourceData = {{ stat_value|safe }};
        chartData = [];
        sourceData.forEach(function(value, index){
            if (index != 0 ) chartData.push([value[1], parseFloat(value[2])]);
        });
        generatePieChart("tenure-chart", "Tenure pie chart", "Tenure", chartData);

    </script>
    -->
</body>
</html>